<!DOCTYPE html>
<html lang="en">
<head>
  <title>Fetch using MySQL and Node.js</title>
</head>
<body>
    <div class="table-data">
        <h1>Full Cycle Rocks</h1>
        <ul>
            <% for(var i=0; i < names.length; i++) { %>
                <li><%= names[i].name %></li>
            <% } %>
        </ul>
    </div>
</body>
</html>